.list {
    display: grid;
    gap: var(--gap);
    padding: 0;
    margin: 0;
}

.list__container {
    min-height: 165px;
}

.list__container_empty {
    display: grid;
    place-content: center;
    font-weight: bold;
    background-color: var(--bg-item);
    border-radius: var(--br);
}