.banner {
    position: relative;
    min-height: 165px;
    display: grid;
    place-content: center;
    background-color: var(--bg-item);
    border-radius: var(--br);
}

.banner__message {
    font-weight: bold;
}